@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"),
    url(../resources/fonts/BebasNeue-Regular.ttf) format("truetype");
}

.OMDBTitle {
  font-size: 300%;
  flex-grow: 1;
  font-family: "BebasNeue";
  display: "none";
}
