body {
  background: #141414;
  color: #ffffff;
}

/* .TextField {
  color: #ffffff;
} */

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  /* Change cursor to pointer on poster hover */
  cursor: pointer;
  transform: scale(1.07);
}
